h2 {
  margin: 0;
  color: var(--color-dark-sage);
  font-size: var(--size-h2);
  font-family: var(--font-head);
  font-weight: var(--weight-bold);
}

h3 {
  margin: 0;
  color: var(--color-sage);
  font-family: var(--font-head);
  font-size: var(--size-h3);
  font-weight: var(--weight-bold);
}

h4 {
  margin: 0;
  color: white;
  font-family: var(--font-head);
  font-size: var(--size-h4);
  font-weight: var(--weight-bold);
}

html {
  font-size: 10px;
}

p {
    font-family: var(--font-body);
    font-size: var(--size-b1);
    font-weight: var(--weight-regular);
    color: var(--color-medium-sage);
    line-height: 1.8rem;
}
